.bottom-footer.svelte-13tne86 {
	display: flex;
	height: clamp(50px, 5.71vw, 5.71vw);
	padding: clamp(16px, 1.43vw, 1.43vw) clamp(16px, 3.75vw, 3.75vw);
	position: relative;
}
.bg.svelte-13tne86 {
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -10;
}
@media (min-width: 768px) {
	.bg.svelte-13tne86 {
		display: block;
	}
}
.powered-by.svelte-13tne86 {
	font-size: clamp(8px, 0.77vw, 0.77vw);
	margin-right: clamp(200px, 34.17vw, 34.17vw);
}
.label.svelte-13tne86 {
	--tw-text-opacity: 1;
	color: rgb(143 147 152 / var(--tw-text-opacity));
}
.value.svelte-13tne86,
.versions.svelte-13tne86 {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.versions.svelte-13tne86 {
	font-size: clamp(8px, 0.65vw, 0.65vw);
}
.bg.svelte-111qxri.svelte-111qxri {
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -10;
}
@media (min-width: 768px) {
	.bg.svelte-111qxri.svelte-111qxri {
		display: block;
	}
}
.footer.svelte-111qxri.svelte-111qxri {
	display: flex;
	height: clamp(200px, 28.27vw, 28.27vw);
	padding-bottom: clamp(16px, 3.33vw, 3.33vw);
	padding-top: clamp(16px, 3.33vw, 3.33vw);
	position: relative;
}
.arcadia-section.svelte-111qxri.svelte-111qxri {
	padding-left: clamp(16px, 3.75vw, 3.75vw);
	padding-right: clamp(16px, 3.75vw, 3.75vw);
	width: 46%;
}
.arcadia-section.svelte-111qxri > .logo.svelte-111qxri {
	height: clamp(25px, 2.38vw, 2.38vw);
	margin-bottom: clamp(16px, 2.26vw, 2.26vw);
	width: clamp(50px, 8.39vw, 8.39vw);
}
.casper-live.svelte-111qxri > .logo.svelte-111qxri {
	height: clamp(16px, 1.96vw, 1.96vw);
	margin-bottom: clamp(16px, 2.26vw, 2.26vw);
	width: clamp(50px, 8vw, 8vw);
}
.links.svelte-111qxri.svelte-111qxri {
	color: rgb(173 189 204 / var(--tw-text-opacity));
	display: flex;
	flex-direction: column;
	font-size: clamp(8px, 1.19vw, 1.19vw);
	gap: clamp(8px, 1.19vw, 1.19vw);
}
.links.svelte-111qxri.svelte-111qxri,
.title.svelte-111qxri.svelte-111qxri {
	--tw-text-opacity: 1;
}
.title.svelte-111qxri.svelte-111qxri {
	color: rgb(255 249 245 / var(--tw-text-opacity));
	font-weight: 700;
	margin-bottom: clamp(4px, 0.36vw, 0.36vw);
}
.link.svelte-111qxri.svelte-111qxri {
	cursor: pointer;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}
.link.svelte-111qxri.svelte-111qxri:hover {
	--tw-text-opacity: 1;
	color: rgb(9 155 145 / var(--tw-text-opacity));
}
.link-section.svelte-111qxri.svelte-111qxri {
	display: flex;
	gap: clamp(60px, 8.93vw, 8.93vw);
}
.socials.svelte-111qxri.svelte-111qxri {
	display: flex;
	gap: clamp(8px, 1.25vw, 1.25vw);
}
.socials.svelte-111qxri > a.svelte-111qxri {
	cursor: pointer;
	height: clamp(8px, 1.25vw, 1.25vw);
	width: clamp(8px, 1.25vw, 1.25vw);
}
.home-stats-section.svelte-1rvsavm {
	--tw-border-opacity: 0.5;
	--tw-backdrop-blur: blur(8px);
	align-items: center;
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
		var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
		var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	border-color: rgb(121 225 237 / var(--tw-border-opacity));
	border-radius: clamp(10px, 1.19vw, 1.19vw);
	border-width: clamp(1px, 0.06vw, 0.06vw);
	display: flex;
	gap: clamp(10px, 1.43vw, 1.43vw);
	height: clamp(100px, 5.5vw, 5.5vw);
	padding: clamp(4px, 0.48vw, 0.48vw) clamp(20px, 1.5vw, 1.5vw);
	width: clamp(500px, 46.96vw, 46.96vw);
}
.stat-column.svelte-1rvsavm {
	line-height: 1;
	width: 100%;
}
.vt.svelte-1rvsavm {
	--tw-border-opacity: 0.5;
	border-color: rgb(242 243 245 / var(--tw-border-opacity));
	border-right-width: 1px;
	height: 100%;
}
.title.svelte-1rvsavm {
	--tw-text-opacity: 1;
	color: rgb(207 207 207 / var(--tw-text-opacity));
	font-size: clamp(8px, 0.7vw, 0.7vw);
	margin-bottom: clamp(2px, 0.3vw, 0.3vw);
}
.value.svelte-1rvsavm {
	font-size: clamp(10px, 1.43vw, 1.43vw);
	font-weight: 500;
	margin-bottom: clamp(2px, 0.24vw, 0.24vw);
}
.detail.svelte-1rvsavm,
.value.svelte-1rvsavm {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.detail.svelte-1rvsavm {
	font-size: clamp(8px, 0.75vw, 0.75vw);
}
.navbar.svelte-1c71zzk {
	justify-content: space-between;
}
.nav-items.svelte-1c71zzk,
.navbar.svelte-1c71zzk {
	display: flex;
}
.nav-items.svelte-1c71zzk {
	--tw-text-opacity: 0.5;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	font-size: clamp(10px, 0.83vw, 0.83vw);
	gap: clamp(16px, 1.79vw, 1.79vw);
}
.nav-item.svelte-1c71zzk {
	align-items: center;
	cursor: pointer;
	display: flex;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}
.logo.svelte-1c71zzk {
	height: clamp(16px, 1.96vw, 1.96vw);
}
.chevron.svelte-1c71zzk {
	height: clamp(14px, 0.95vw, 0.95vw);
	margin-left: clamp(4px, 0.36vw, 0.36vw);
	width: clamp(14px, 0.95vw, 0.95vw);
}
.selected.svelte-1c71zzk,
.signin.svelte-1c71zzk {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.signin.svelte-1c71zzk {
	align-items: center;
	cursor: pointer;
	display: flex;
}
.user-icon.svelte-1c71zzk {
	height: clamp(14px, 1.07vw, 1.07vw);
	margin-right: clamp(4px, 0.36vw, 0.36vw);
	width: clamp(14px, 1.07vw, 1.07vw);
}
.filter.svelte-4lv7v1 {
	--tw-bg-opacity: 1;
	--tw-text-opacity: 1;
	background-color: rgb(9 20 90 / var(--tw-bg-opacity));
	border-bottom-right-radius: 0.24vw;
	border-top-right-radius: 0.24vw;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	font-size: clamp(10px, 0.83vw, 0.83vw);
	height: clamp(10px, 2.5vw, 2.5vw);
	width: clamp(100px, 34.58vw, 34.58vw);
}
.filter-dropdown.svelte-4lv7v1,
.filter.svelte-4lv7v1 {
	align-items: center;
	display: flex;
}
.filter-dropdown.svelte-4lv7v1 {
	--tw-bg-opacity: 1;
	background-color: rgb(9 24 114 / var(--tw-bg-opacity));
	cursor: pointer;
	height: 100%;
	justify-content: center;
	width: 20%;
}
input.svelte-4lv7v1 {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	flex-grow: 1;
	outline: 2px solid transparent;
	outline-offset: 2px;
	padding-left: clamp(16px, 0.95vw, 0.95vw);
	padding-right: clamp(16px, 0.95vw, 0.95vw);
	width: 100%;
}
.chevron.svelte-4lv7v1 {
	height: clamp(14px, 0.95vw, 0.95vw);
	margin-left: clamp(4px, 0.36vw, 0.36vw);
	width: clamp(14px, 0.95vw, 0.95vw);
}
.search.svelte-4lv7v1 {
	--tw-gradient-from: #173fa2;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(23, 63, 162, 0));
	--tw-gradient-to: #0c8d94;
	align-items: center;
	background-image: linear-gradient(to right, var(--tw-gradient-stops));
	border-bottom-right-radius: 0.24vw;
	border-top-right-radius: 0.24vw;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	width: clamp(20px, 3.36vw, 3.36vw);
}
.search-icon.svelte-4lv7v1 {
	height: clamp(10px, 0.95vw, 0.95vw);
	width: clamp(10px, 0.95vw, 0.95vw);
}
.home-stats-section.svelte-12yoc7k.svelte-12yoc7k {
	--tw-border-opacity: 0.5;
	--tw-backdrop-blur: blur(8px);
	align-items: center;
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
		var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
		var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	border-color: rgb(121 225 237 / var(--tw-border-opacity));
	border-radius: clamp(10px, 1.19vw, 1.19vw);
	border-width: clamp(1px, 0.06vw, 0.06vw);
	display: flex;
	gap: clamp(10px, 1.43vw, 1.43vw);
	height: clamp(100px, 16.13vw, 16.13vw);
	padding: clamp(10px, 1.73vw, 1.73vw);
	width: clamp(500px, 92.44vw, 92.44vw);
}
.stat-column.svelte-12yoc7k.svelte-12yoc7k {
	height: 100%;
	line-height: 1;
	width: clamp(100px, 17.86vw, 17.86vw);
}
.stat-column.svelte-12yoc7k > div.svelte-12yoc7k {
	height: 50%;
	padding-left: clamp(20px, 1.5vw, 1.5vw);
}
.top.svelte-12yoc7k.svelte-12yoc7k {
	--tw-border-opacity: 0.5;
	border-bottom-width: 1px;
	border-color: rgb(242 243 245 / var(--tw-border-opacity));
}
.bottom.svelte-12yoc7k.svelte-12yoc7k {
	margin-top: clamp(8px, 0.95vw, 0.95vw);
}
.vt.svelte-12yoc7k.svelte-12yoc7k {
	--tw-border-opacity: 0.5;
	border-color: rgb(242 243 245 / var(--tw-border-opacity));
	border-right-width: 1px;
	height: 100%;
}
.title.svelte-12yoc7k.svelte-12yoc7k {
	--tw-text-opacity: 1;
	color: rgb(207 207 207 / var(--tw-text-opacity));
	font-size: clamp(8px, 0.95vw, 0.95vw);
	margin-bottom: clamp(2px, 0.5vw, 0.5vw);
}
.value.svelte-12yoc7k.svelte-12yoc7k {
	font-size: clamp(14px, 1.67vw, 1.67vw);
	font-weight: 500;
	margin-bottom: clamp(2px, 0.4vw, 0.4vw);
}
.detail.svelte-12yoc7k.svelte-12yoc7k,
.value.svelte-12yoc7k.svelte-12yoc7k {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.detail.svelte-12yoc7k.svelte-12yoc7k {
	font-size: clamp(10px, 1.07vw, 1.07vw);
}
.header.svelte-pyebgn {
	display: flex;
	flex-direction: column;
	row-gap: 2vw;
}
@media (min-width: 640px) {
	.header.svelte-pyebgn {
		padding: 1rem;
	}
}
@media (min-width: 768px) {
	.header.svelte-pyebgn {
		padding: clamp(16px, 0.95vw, 0.95vw) clamp(16px, 3.57vw, 3.57vw);
	}
}
.header.svelte-pyebgn {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: auto;
	background: url(/images/png/header-bg.png) 50% / cover;
}
.header-flex.svelte-pyebgn {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.content.svelte-vn899v {
	height: 80vh;
}
